* {
  font-family: "JetBrains Mono", "Symbols Nerd Font";
  font-weight: bold;
  font-size: 16px;
  min-height: 0;
  color: @base05;
}

window#waybar {
  background: @base00;
}

/* Workspace Buttons */
#workspaces button label {
  color: @base05;
  padding: 0 10px;
}
#workspaces button.active label {
  color: @base00;
}
#workspaces button.active {
  background: @active_border;
}

/* #clock, */
#battery,
#pulseaudio,
#tray,
#language,
#weather,
#backlight {
  padding: 0 10px;
  margin: 0 10px;
}

#clock {
  color: @active_border;
}

#pulseaudio {
  margin: 0;
  color: @base0B;
  /* border-bottom: 5px solid @base0B; */
}

#backlight {
  margin: 0;
  color: @base0D;
  /* border-bottom: 5px solid @base0D; */
}

#pulseaudio.muted {
  /* padding: 0 20px; */
  margin: 0;
  color: @base08;
  /* border-bottom: 5px solid @base08; */
}

#battery {
  margin: 0;
  color: @base0E;
  /* border-bottom: 5px solid @base0E; */
}
